@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a{
   text-decoration: none;
}

.buttons-container{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-btn{
    background-color: rgb(53, 50, 50);
    border:none;
    color:white;
    padding:8px 16px;
    margin:0 10px;
    border-radius: 8px; 
    cursor:pointer;
}

#meals-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    justify-content: center;
    gap:20px;
    padding:0 20px;
    min-height: 100vh;
    width:100%;
}

.meal-image{
    width:100%;
}
.meal-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    color:white;
    background-color: rgb(53, 50, 50);
    height:50px;
}
.item-category{
    font-size: 12px;
    align-self:flex-end;
}